.page {
    margin-top: 30px;
    padding-block: 120px;
}

.content {
    max-width: 1300px;
    padding: 10px;
    margin-inline: auto;
}

.pageHeading h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: #ff3300;
    text-transform: uppercase;
    text-align: center;
}

.pageHeading h3 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #303030;
    text-align: center;
}

.pageHeading h2 span,
.sectionHeading h2 span {
    color: #ff6600;
}

.content img {
    margin-top: 70px;
    border-radius: 12px;
    max-height: 600px;
    object-fit: cover;
    filter: brightness(88%);
}

.cta {
    padding: 10px 28px;
    border-radius: 8px;
    transition: 0.06s ease-in-out;
    font-size: 1.14em;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.12);
    transition: 0.12s ease-in-out;

    background-color: #ff6600;
    color: rgb(255, 255, 255);
    font-weight: 500;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    width: 320px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
}

.cta:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.14);
    background-color: #ff771c;
    transform: translateY(-2px);
}

.points {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
}


.point {
    width: 100%;
    text-align: center;
    padding: 28px;

    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.point:first-child {
    border-left: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.point:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.point h4 {
    font-size: 1.55em;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-bottom: 8px;
}

.point p {
    font-size: 1.18em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(43, 43, 43);
}

.icon {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff66003f;
    width: 46px;
    border-radius: 50%;
    color: #ff3300;
    height: 46px;
    margin-inline: auto;
}


.sectionPar {
    font-size: 1.26em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(80, 80, 80);
    margin-bottom: 27px;
    text-align: center;
    margin-top: 45px;
}

@media screen and (max-width: 1166px) {
    .points {
        flex-direction: column;
        box-shadow: 0px 0px 0px rgba(151, 11, 11, 0.06);
    }

    .point {
        border-radius: 0px !important;
        border: 0px !important;
        border-bottom: 1px solid rgb(221, 221, 221) !important;
    }

    .point:first-child {
        border-top: 1px solid rgb(221, 221, 221) !important;
    }
}

@media screen and (max-width: 768px) {
    .page {
        padding-block: 80px;
        margin-top: 0px;
    }

    .pageHeading h2 {
        font-size: 1.04em;
    }

    .pageHeading h3 {
        font-size: 2.25em;
    }

    .content img {
        max-height: 500px;
    }

    .point h4 {
        font-size: 1.4em;
    }

    .point p {
        font-size: 1.1em;
    }

    .sectionPar {
        font-size: 1.14em;
    }

    .cta {
        font-size: 1.08em;
    }
}