.page {
    background-color: white;
    padding-top: 60px;
}

.content {
    max-width: 1300px;
    padding: 15px;
    margin-inline: auto;
}

.pageHeading h1 {
    font-size: 1.1em;
    font-weight: 600;
    color: #ff3300;
    text-transform: uppercase;
    text-align: center;
}

.pageHeading h2 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #303030;
    text-align: center;
}

.sectionHeading h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: #ff3300;
    text-transform: uppercase;
    text-align: center;
}

.sectionHeading h3 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(48, 48, 48);
    text-align: center;
}

.pageHeading h2 span,
.sectionHeading h2 span {
    color: #ff6600;
}

.section1Content img {
    margin-top: 70px;
    border-radius: 12px;
    max-height: 600px;
    object-fit: cover;
    filter: brightness(88%);
    max-height: 600px;
}

.heroPoints {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    gap: 15px;
    border-radius: 12px;
}

.point {
    width: 100%;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    padding: 28px;
}

.point h3 {
    font-size: 1.55em;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
}

.point p {
    font-size: 1.18em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(43, 43, 43);
}

.icon {
    font-size: 28px;
    margin-bottom: 8px;
}

.section2 {
    margin-top: 120px;
}

.sectionPar {
    font-size: 1.26em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(80, 80, 80);
    margin-bottom: 27px;
}

.sectionPar span {
    color: #2c2c2c;
    font-weight: 600;
}

.section2Content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;
}

.section2Content img {
    max-height: 600px;
    object-fit: cover;
    max-width: 600px;
    height: 100%;
    border-radius: 12px;
}

.cta {
    border-radius: 12px;
    padding-block: 85px;
    margin-top: 120px;
    background: linear-gradient(135deg, #ff5100 0%, #ff8533 100%);
}

.cta h2 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 80%;
    margin-inline: auto;
}

.cta p {
    color: rgb(255, 238, 231);
    text-align: center;
    max-width: 80%;
    margin-inline: auto;
    font-size: 1.26em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    margin-bottom: 27px;
}


.cta a {
    padding: 10px 28px;
    border-radius: 8px;
    transition: 0.06s ease-in-out;
    font-size: 1.15em;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.12);
    transition: 0.12s ease-in-out;

    background-color: #ffffff;
    color: rgb(43, 22, 5);
    font-weight: 500;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    width: 200px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
}

.cta a:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    transform: translateY(-2px);
}

.section3 {
    margin-top: 120px;
    margin-bottom: 150px;
}

.section3Content {
    margin-top: 40px;
    text-align: center;
}

.donePoints {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-top: 60px;
}

.donePoints p {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    padding: 28px;
    justify-content: center;

    align-items: center;
    text-align: center;
    font-size: 1.26em;
    line-height: 1.6;
    letter-spacing: -0.3px;
}

.donePoints span {
    color: #ff5100;
    background-color: #ff33001f;
    padding: 8px;
    border-radius: 50%;
}

@media screen and (max-width: 1166px) {
    .section2Content {
        flex-direction: column;
        text-align: center;
    }

    .section2Content img {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .pageHeading h1 {
        font-size: 1.04em;
    }

    .pageHeading h2 {
        font-size: 2.25em;
    }

    .sectionHeading h2 {
        font-size: 1.04em;
    }

    .sectionHeading h3 {
        font-size: 2.25em;
    }

    .cta {
        margin-top: 80px;
        padding-block: 55px;
    }

    .cta h2 {
        font-size: 2.25em;
    }

    .cta p {
        font-size: 1.14em;
    }

    .cta a {
        font-size: 1.08em;
    }

    .heroPoints {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }

    .content img {
        max-height: 500px;
    }

    .point {
        border-bottom: 4px solid #f3f3f3;
        padding: 22px;
    }

    .point h3 {
        font-size: 1.4em;
    }

    .point p {
        font-size: 1.1em;
    }

    .sectionPar {
        font-size: 1.14em;
        text-align: center;
    }

    .donePoints {
        margin-top: 50px;
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
}