.page {
    padding: 15px;
}

.page h1 {
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.page h2 {
    font-size: 1.875em;
    font-weight: 500;
    margin-bottom: 12px;
}

.content {
    margin-block: 80px;
    max-width: 1000px;
    display: block;
    margin-inline: auto;
    min-height: 100vh;
}

.block {
    margin-bottom: 50px;
}

.block p {
    font-size: 1.18em;
}

.block ul {
    list-style-type: disc;
    margin-left: 40px;
}

.block li {
    font-size: 1.18em;
}