.page {
    background-color: white;
    padding-top: 60px;
}

.content {
    max-width: 1300px;
    padding: 15px;
    margin-inline: auto;
}

.pageHeading h1 {
    font-size: 1.1em;
    font-weight: 600;
    color: #ff3300;
    text-transform: uppercase;
    text-align: center;
}

.pageHeading h2 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #303030;
    text-align: center;
}

.pageHeading h2 span,
.sectionHeading h2 span {
    color: #ff6600;
}

.content img {
    margin-top: 60px;
    border-radius: 12px;
    max-height: 600px;
    object-fit: cover;
    filter: brightness(88%);
}

.content a {
    padding: 10px 28px;
    border-radius: 8px;
    transition: 0.06s ease-in-out;
    font-size: 1.08em;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.12);
    transition: 0.12s ease-in-out;

    background-color: #ff6600;
    color: rgb(43, 22, 5);
    font-weight: 500;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    width: 270px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
}

.content a:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.14);
    background-color: #ff771c;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    .page {
        margin-bottom: 50px;
    }
    .pageHeading h1 {
        font-size: 1.04em;
    }

    .pageHeading h2 {
        font-size: 2.25em;
    }

    .content img {
        max-height: 500px;
    }
}