.page {
    background-color: rgb(22, 22, 22);
    padding-top: 130px;
    padding-bottom: 130px;
}

.content {
    max-width: 1300px;
    padding: 15px;
    margin-inline: auto;
}

.sectionHeading h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(255, 51, 0);
    text-transform: uppercase;
}

.sectionHeading h3 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
}

.points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 22px;
    align-items: start;
    margin-top: 60px;
}

.point {
    color: white;
    background-color: rgb(39, 39, 39);
    padding: 30px;
    border-radius: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    height: 100%;
}

.point svg {
    color: rgb(255, 72, 0);
    padding: 12px;
    border-radius: 30%;
    background-color: rgba(255, 51, 0, 0.13);
}

.point h4 {
    font-size: 1.55em;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: rgb(255, 255, 255);
}

.point p {
    font-size: 1.18em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(221, 221, 221);
}

@media (max-width: 600px) {
    .points {
        grid-template-columns: 1fr;
    }
}


.cta a {
    padding: 10px 48px;
    border-radius: 8px;
    transition: 0.06s ease-in-out;
    font-size: 1.25em;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.12);
    transition: 0.12s ease-in-out;

    background-color: #ff6d00;
    color: rgb(255, 255, 255);
    font-weight: 500;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    width: 250px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 70px;
}

.cta a:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.14);
    background-color: #ff7e1c;
    transform: translateY(-2px);
}


@media screen and (max-width: 768px) {
    .page {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sectionHeading h2 {
        font-size: 1.04em;
    }

    .sectionHeading h3 {
        font-size: 2.25em;
    }

    .content img {
        max-height: 500px;
    }

    .bottom {
        flex-direction: column;
        margin-top: 40px;
    }

    .points {
        margin-top: 50px;
    }

    .point h4 {
        font-size: 1.4em;
    }

    .point p {
        font-size: 1.14em;
        line-height: 1.52;
    }

    .cta a{
        font-size: 1.14em;
    }
}