.page {
    background-color: #f5f5f5;
    padding-top: 130px;
    padding-bottom: 160px;
}

.content {
    max-width: 1300px;
    padding: 15px;
    margin-inline: auto;
}

.sectionHeading h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(255, 51, 0);
    text-transform: uppercase;
}

.sectionHeading h3 {
    font-size: 2.7em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgb(48, 48, 48);
}


.par {
    font-size: 1.25em;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgb(80, 80, 80);
    max-width: 600px;
}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media (max-width: 1250px) {
    .bottom {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        padding-top: 100px;
    }

    .sectionHeading h2 {
        font-size: 1.04em;
    }

    .sectionHeading h3 {
        font-size: 2.25em;
    }

    .content img {
        max-height: 500px;
    }

    .bottom {
        flex-direction: column;
        margin-top: 40px;
        gap: 40px;
    }

    .par {
        font-size: 1.14em;
        line-height: 1.52;
    }
}