.page {
    width: 100%;
    margin-top: 850px;
}

.page p {
    font-size: 2.7em;
    line-height: 1.4;
    max-width: 1300px;
    margin-inline: auto;
    padding: 15px;
    color: rgb(48, 48, 48);
}

.page p span {
    color: rgb(255, 51, 0);
}


@media screen and (max-width: 768px) {
    .page {
        margin-top: 820px;
    }

    .page p {
        font-size: 2.25em;
    }

    .page p span {
        color: rgb(255, 51, 0);
    }
}